<div class="header">
  <button class="button btn btn-outline-danger" (click)="randomNumberGenerate()">
    <span class="icon">
      <app-shuffle-svg></app-shuffle-svg>
    </span>
    <span class="button-label">RND</span>
  </button>
  <button class="button btn btn-outline-danger" (click)="deleteNumbers()">
    <span class="icon">
      <app-trash-svg></app-trash-svg>
    </span>
    <span class="button-label">Del</span>
  </button>
</div>
<div>
  <div class="board">
    <div *ngFor="let card of cardBoard?.card">
      <div class="border-line">
        <div *ngIf="card.click; else unselected" class="selected" (click)="clickedTile(card)">
          <span class="cross">X</span>
          <span class="number">{{card.id}}</span>
        </div>
        <ng-template #unselected>
          <div class="tile" (click)="clickedTile(card)">
            {{card.id}}
          </div>
        </ng-template>
      </div>
    </div>
  </div>
  <div>
    <span class="card-background">{{cardId}}</span>
  </div>
</div>