/* You can add global styles to this file, and also import other style files */
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.container {
    justify-content: center;
    display: flex;
    margin-top: 50px;
}
